/* {
    outline: red 2px dashed;
}

*/

#ramenpic,
#steakpic,
#pizzapic {
    height: auto;
    width: 350px;
}

h1,
h2 {
    font-family:"Courier New", sans-serif;
}

body {
    background-color:rgba(0, 162, 255, 0.329);
}

.disc {
    height:auto;
    width:500px;
    text-align: left;
}

.homepage ul li {
    width: 100px;
/*    border: 3px solid red; */
}

.homepage {
    text-align:center;
}

.homepage ul {
    padding: 0px;
    list-style:none;
    display:inline-flex;
    margin-top: 0px;
}

.homepage h1 {
    margin-bottom: 60px;
}