/* {
    outline: red 2px dashed;
}

*/

#ramenpic,
#steakpic,
#pizzapic {
    height: auto;
    width: 350px;
}

h1,
h2 {
    font-family:"Courier New", sans-serif;
}

body {
    background-color:rgba(0, 162, 255, 0.329);
}

.disc {
    height:auto;
    width:500px;
    text-align: left;
}

.box {
    display:flex;
}

.box a {
    flex: 1;
    border: 1.5px rgba(253, 73, 73, 0.829) dashed;
    background: white;
    margin: 0 30px;
}

.homepage {
    text-align: center;
}